/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* reset ends here */

/* pay attention to the placeholders! */
h2, h3 {
    display: none;
}
/* pay attention to the placeholders! */

.big-container {
    width: 70%;
    margin: auto;
}

header {
    background-color: #e579e6;
    width: 100%;
    height: 10vh;
    margin-bottom: 3vh;
}

.yellow-container {
    background-color: #e1d67a;
    width: 100%;
    height: 35vh;
    margin-bottom: 3vh;
}

.blue-container {
    background-color: #0086ff;
    width: 100%;
    height: 42vh;
    margin-bottom: 1vh;
}

footer {
    background-color: #8801fe;
    width: 100%;
    height: 5vh;
}

.top-article {
    background-color: skyblue;
    width: 100%;
    height: 8vh;
    margin-bottom: 2vh;
}

.left-article {
    background-color: skyblue;
    width: 20%;
    height: calc(100% - 8vh - 4vh);
    float: left;
}

.central-article {
    background-color: skyblue;
    width: calc(100% - 40% - 2vw);
    height: calc(100% - 8vh - 4vh);
    float: left;
    margin-left: 1vw;
}

.right-article {
    background-color: skyblue;
    width: 20%;
    height: calc(100% - 8vh - 4vh);
    float: left;
    margin-left: 1vw;
}
